.posts__list {
  list-style: none;
  margin: 70px 20px;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
}

.buttons {
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid aliceblue;
  color: aliceblue;
  &:hover {
    color: rgb(198, 201, 202);
    border: 1px solid rgb(198, 201, 202);
    cursor: pointer;
  }
  &--auth,
  &--change-post {
    position: absolute;
    top: 40px;
    right: 40px;
  }
  &--add-new,
  &--back-to-all {
    position: absolute;
    top: 40px;
    left: 40px;
  }
  &--reg {
    margin-top: 10px;
  }
  &--prev {
    margin-right: 5px;
  }
  &--next {
    margin-left: 5px;
  }
}
.posts__auth {
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid aliceblue;
  color: aliceblue;
  &:hover {
    color: rgb(198, 201, 202);
    border: 1px solid rgb(198, 201, 202);
    cursor: pointer;
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #242424;
  border-radius: 10px;
  border: 1px solid aliceblue;
  color: aliceblue;
  padding: 20px;
  z-index: 100;
}
.modal input {
  margin-bottom: 10px;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.modal__close {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 10px;
}
